@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600&family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500&family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500&family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    background-color:hsl(47, 88%, 63%);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.box{
    margin: 0 auto;
    max-width: 375px;
    box-shadow: 10px 10px;
    border-radius: 18px;
    
    
}

.image{
    background-color: white;
    font-size: 16px;
    padding: 18px;
    border-radius: 18px;
}

.image img{
    border-radius: 12px;
    width: 100%;
}

.learn{
    font-family: 'Figtree', sans-serif;
    max-width: 100px;
    background-color:hsl(47, 88%, 63%);
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px ;
    border-radius: 5px;
}

.publish{
    margin-bottom: 15px;
}

.foundation{
    margin-bottom: 15px;
}

.para{
    color: hsl(0, 0%, 50%);
    line-height: 25px;
    margin-bottom: 15px;
}

.end img{
    width: 8%;
}

.end{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}
